
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      </head>
<div>
    <ul>
    <li>Product Manager</li>
    <li style="float:right">
        <a href="#" (click)="onLogout()"><img src={{imgUrl}}/>&nbsp;&nbsp;Logout</a>
    </li>
    </ul>
</div>
<div>
    <div class="conatiner">
        <div class="row ">
            <div class="col-sm-11 col-md-4 col-lg-4 sideborder">
                <app-product-detail></app-product-detail>
            </div>
            <div  class="col-sm-11 col-md-7 col-lg-7 sideborder">
                <app-product-stock></app-product-stock>
                <app-product-list></app-product-list>
            </div>
        </div>
    </div>
</div>
